.App {
  width:90%;
  max-width: 600px;
  text-align: left;
  min-height: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-size: calc(7px + 1vmin);
  color: black;
}

.button-container {
  min-height: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
}